body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font: 24px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    font: 18px;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    flex: 1;
    justify-content: space-around;
    padding: 80px;
    align-items: center;
    gap: 30px;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    gap: 5px;
    padding-left: 87px;
}

.hero-main {
    display: flex;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

.hero-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-color: gray;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}





.middle-section {
    text-align: center;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    
}

.random-info {
    margin-bottom: 42px;
    margin-top: 42px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.all-containers {
    display: flex;
    gap: 40px;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-box {
    
    width: 90px;
    height: 90px;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 12px;
}


.quote-section {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #E5E7EB;
    margin-top: 40px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.thor {
    display: flex;
    padding-left: 500px;
    font-weight: 700px;
}


.final-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.action-box {
    display: flex;
    height: 120px;
    width: 850px;
    border-radius: 10px;
    background-color: #add8e6;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.action-left {
    color: #F9FAF8;
}

.sign-up {
    color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 80px;
    align-items: center;
    justify-content: center;
}






